modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["ffmpeg"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
AZURE_GPT_AUDIO_ENDPOINT = "https://openai-sweden-central-tsaplin.openai.azure.com"
AZURE_GPT_AUDIO_DEPLOYMENT = "gpt-audio"
AZURE_OPENAI_TTS_ENDPOINT = "https://openai-west-us3-tsaplin.openai.azure.com/"
AZURE_OPENAI_TTS_DEPLOYMENT = "tts-hd"
AZURE_OPENAI_CHAT_ENDPOINT = "https://openai-west-us3-tsaplin.openai.azure.com/"
AZURE_OPENAI_CHAT_DEPLOYMENT = "gpt-5"
AZURE_WHISPER_ENDPOINT = "https://openai-west-europe-tsaplin.openai.azure.com"
AZURE_WHISPER_DEPLOYMENT = "whisper"

[objectStorage]
defaultBucketID = "replit-objstore-3de4f21c-65e3-43b2-9357-9e0b39cbe575"

[agent]
integrations = ["javascript_object_storage:2.0.0", "javascript_openai_ai_integrations:2.0.0"]
